<% provide(:title, 'Certification') %>

    <h1>Certifications and Qualifications</h1>
    <p>
      This page is a placeholder for Team Certifications  <br>
      <br> 
      Elements Will include:  <br>
	<li>1. List of who's eligible to administer each trial</li>  <br>
	<li>2. Calendar for upcoming certification needs</li>  <br>
	<li>3. Alerts for team members out of certification</li>  <br>
	<li>4. Links to certification sites</li>  <br>	
    </p>

