<% provide(:title, 'EMERGENCY ROOM DIAGNOSTICS') %>

    <h1>Emergency Room Diagnostics</h1>
    <p>
      This page is a placeholder for ER Screening  <br>
      <br> 
      Elements Will include:  <br>
	<li> <%= link_to "1. Inclusion/Exclusion criteria.", inclexcl_path %></li> <br>

	<li> <%= link_to "2. Trial elimination methodology", trialelim_path %></li> <br>	

	<li> <%= link_to "3. Input of patient symptoms", patientdata_path %></li> <br>

	<li> <%= link_to "4. link to Trial data stack", datastack_path %></li> <br>


    </p>

