
  <div class="center hero-unit">
	<h1>Welcome to DTrials</h1>

	<h2>
	  This is the home page for the
	  Dtrials Cloud 
	  sample application
	</h2>

<% if !signed_in? %>
	<%= link_to "sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<% end %>

  </div>

  <%= link_to image_tag("dtriallogo2.png", alt: "DTrial"), 'http//clinicaltrials.gov/' %>
  

