<% provide(:title, 'Patient Data') %>

    <h1>Patient Data input, edit, and export</h1>
    <p>
      General specs specs  <br>
      <br> 
      Specs will include:  <br>

	<li>1. input patient data into a table or get feed withnatural language interpreter/google glasses from ambulance</li>  <br>

	<li>2. Edit or update patient data </li>  <br>

	<li>3. Export patient data to ... </li>  <br>

	<li>4. quick access to data stack and external patient or data reference></li>  <br>


  
    </p>

