<% provide(:title, 'Team Communication') %>

    <h1>Team Communication</h1>
    <p>
      This page is a placeholder for Team Communications  <br>
      <br> 
      Elements Will include:  <br>
	<li>1. Group emails, phonecalls, texts</li>  <br>
	<li>2. Alerts, and periodic messages and reminders</li>  <br>	
    </p>

