<% provide(:title, 'Trial Elimination') %>

    <h1>Trial Elimination Methodology</h1>
    <p>
      I dont have a clue yet how we are going to do this but here are the specs  <br>
      <br> 
      Specs will include:  <br>

	<li>1. Show the incl / excl criteria side by side for each trial</li>  <br>

	<li>2. elim a trial by touching a criteria that doesn't fit patient></li>  <br>

	<li>3. enable access to patient facts that match to trial criteria></li>  <br>

	<li>4. allow for quick access to data stack in separate window or tab></li>  <br>


  
    </p>

